Repository dlang/dlang.org, pull requests merged in 2019-11, with the labels that each got.

#2714 Merge remote-tracking branch 'upstream/stable' into merge_stable
  VERSION
  changelog/2.089.0.dd
  download.dd
Labels: auto-merge

#2715 document hasCopyConstructor and hasPostblit traits
  spec/traits.dd
Labels: Spec / content, auto-merge

#2717 Fix FunctionLiteral grammar
  spec/expression.dd
Labels: Spec / content, auto-merge

#2718 fix issue 19432 automatically interpret big int literals as
  spec/lex.dd
Labels: Bug Fix, auto-merge
