Repository dlang/dlang.org, pull requests merged in 2020-12, with the labels that each got.

#2886 Updating Exception Safety article
  articles/exception-safe.dd
Labels: auto-merge

#2891 add links to Error class
  spec/errors.dd
  spec/function.dd
  spec/statement.dd
Labels: Spec / content, auto-merge

#2887 spec/traits.dd: Document __traits(getTargetInfo, "cppStd")
  spec/traits.dd
Labels: auto-merge

#2892 minor wording improvements made to Inout Functions
  spec/function.dd
Labels: Spec / content

#2889 function.dd: use BEST_PRACTICE and IMPLEMENTATION_DEFINED
  spec/function.dd
Labels: Spec / content, auto-merge

#2893 Improve wording of Virtual Functions section
  spec/function.dd
Labels: Spec / content, auto-merge

#2888 improve ref function documentation
  spec/function.dd
Labels: Spec / content, auto-merge

#2894 add Ddoc spec macros RATIONALE and NOTE
  spec/spec.ddoc
Labels: Spec / content, auto-merge

#2902 Live Functions: Swap auto for int* where needed
  spec/ob.dd
Labels: auto-merge

#2900 Improve wording of System Functions section
  spec/function.dd
Labels: Spec / content

#2899 Improve wording of Safe Interfaces section
  ebook.ddoc
  spec/function.dd
Labels: Spec / content, auto-merge

#2905 remove redundant description of Function Templates
  spec/function.dd
Labels: Spec / content, auto-merge

#2908 fix Local Static Variables section
  spec/function.dd
Labels: Spec / content, auto-merge

#2914 Minor adjustment to Scope Parameters section
  spec/function.dd
Labels: Spec / content, auto-merge

#2913 improve C-style Variadic Functions section
  spec/function.dd
Labels: auto-merge

#2917 improve Function Overloading section
  spec/function.dd
Labels: Spec / content, auto-merge

#2864 Add documentation for Objective-C interfaces
  spec/attribute.dd
  spec/interface.dd
  spec/objc_interface.dd
Labels: Spec / content, auto-merge

#2920 merge stable
  changelog/2.095.0_pre.dd
  download.dd
Labels: auto-merge, stable -> master

#2921 undo release schedule shift
  changelog/release-schedule.dd
Labels: Release Schedule, auto-merge

#2922 fix Issue 10445 - add .min, .max, etc. properties for vector types
  spec/simd.dd
Labels: Enhancement, Spec / content, auto-merge

#2923 $(D \) -> $(D \\) in EscapeSequence docs
  spec/lex.dd
Labels: auto-merge

#2925 simd: add clarification that implicit vector casts are reinterpretations
  spec/simd.dd
Labels: Spec / content, auto-merge

#2924 add paragraph on casting static arrays
  spec/expression.dd
Labels: Spec / content, auto-merge

#2927 merge stable
  download.dd
Labels: auto-merge, stable -> master
