Repository dlang/dlang.org, pull requests merged in 2021-01, with the labels that each got.

#2928 merge stable
  VERSION
  changelog/2.095.0.dd
  download.dd
Labels: auto-merge, stable -> master

#2915 adjust Ref and Out Parameters section
  spec/function.dd
Labels: Spec / content

#2918 improve Function Inheritance and Overriding section
  spec/function.dd
Labels: Spec / content

#2912 Improve D-style Variadic Functions section
  spec/function.dd
Labels: Spec / content

#2911 Improve Typesafe Variadic Functions section
  spec/function.dd
Labels: Spec / content

#2910 fix Lazy Variadic Functions section
  spec/function.dd
Labels: Spec / content

#2909 fix Local Variables section
  spec/function.dd
Labels: Spec / content

#2907 Improve Delegates, Function Pointers, and Closures section
  spec/function.dd
Labels: Spec / content

#2906 Improve main() function description
  spec/function.dd
Labels: Spec / content

#2903 redo No-GC Functions section
  spec/function.dd
Labels: Spec / content

#2898 small improvements to Safe Values section wording
  spec/function.dd
Labels: Spec / content

#2897 Improve Safe Aliasing section wording
  spec/function.dd
Labels: Spec / content

#2896 Improve Uniform Function Call Syntax section
  spec/function.dd
Labels: Spec / content

#2932 Fix display of escape sequences \' \" \? and \\
  spec/lex.dd
Labels: Ddoc, Spec / content, auto-merge

#2933 Fix 21292: Link directly to https s3 downloads
  download.dd
  js/platform-downloads.js
Labels: Bug Fix

#2934 Allow empty comments and string literals in grammar
  spec/lex.dd
Labels: Spec / content, auto-merge

#2929 Introduce getVisibility as replacement to getProtection
  spec/traits.dd
Labels: Spec / content, auto-merge

#2931 Update struct posbtblit/copy constructor cohabitation section
  spec/struct.dd
Labels: Spec / content, Waiting for DMD PR

#2890 rewrote section on Pure Functions
  spec/function.dd
Labels: Spec / content

#2901 improve Safe Functions section
  spec/function.dd
Labels: Spec / content, auto-merge

#2822 [2.093] Remove duplicate res path for the stable ddox build
  posix.mak
Labels: Blocked

#2736 add FunctionAttributeKwd to grammar to factor out redundancy
  spec/attribute.dd
  spec/function.dd
Labels: Easy Review, Spec / content

#2936 Revert "Indent continuation lines with 2 indentations"
  dstyle.dd
Labels: auto-merge
