Repository dlang/dlang.org, pull requests merged in 2021-07, with the labels that each got.

#3027 initial commit for importc.d
  posix.mak
  spec/betterc.dd
  spec/importc.dd
  spec/ob.dd
  spec/spec.dd
  spec/spec.ddoc
Labels: Spec / content, auto-merge

#3028 ImportC: add an outline
  spec/importc.dd
Labels: Spec / content

#3029 ImportC: fix some typo errors
  spec/importc.dd
Labels: Trivial, auto-merge

#3032 ImportC: add preprocessor instructions
  spec/importc.dd
Labels: Spec / content

#3030 ImportC: add Wrapping C Code section
  spec/importc.dd
Labels: Spec / content

#2919 spec: add AliasReassignment
  spec/declaration.dd
Labels: Spec / content

#2868 add new feature AliasAssign to spec
  spec/declaration.dd
Labels: Spec / content

#3040 spec/lex.dd: Describe the source file layout within the grammar
  spec/lex.dd
Labels: auto-merge

#3042 spec/function.dd: Add AtAttribute to FunctionAttribute
  spec/function.dd
Labels: auto-merge

#3047 spec/function.dd: Add scope to MemberFunctionAttribute
  spec/function.dd
Labels: auto-merge

#3050 spec/lex.dd: Allow __LINE__ in #line SpecialTokenSequence
  spec/lex.dd
Labels: auto-merge

#3048 spec/function.dd: Add default values for anonymous parameters
  spec/function.dd
Labels: auto-merge

#3056 ImportC: add LNAME2 to H3
  spec/importc.dd
Labels: Spec / content

#3057 ImportC: add Other Solutions section
  spec/importc.dd
Labels: Spec / content

#3058 ImportC: add more to limitations section
  spec/importc.dd
Labels: Spec / content

#3061 Fix issue 20557 - add StringPostfix after DelimitedString and TokenString
  spec/lex.dd
Labels: Bug Fix, auto-merge

#3064 merge stable
  changelog/2.097.1_pre.dd
  download.dd
Labels: auto-merge

#3065 ImportC: fix reference to C11 standard
  spec/importc.dd
Labels: Trivial, auto-merge

#3062 spec/iasm.dd: Add the GDC inline assembler grammar
  spec/iasm.dd
Labels: auto-merge

#3069 explain difference between ImportC and BetterC
  spec/betterc.dd
  spec/importc.dd
Labels: Spec / content

#3074 add scope to foreach iteration symbols
  spec/statement.dd
Labels: Spec / content

#3073 switch expression and integral promotions
  spec/statement.dd
Labels: Spec / content, auto-merge

#3078 spec/struct.dd: Move incorrect initialization of union to SPEC_RUNNABLE_EXAMPLE_FAIL
  spec/struct.dd
Labels: Blocking other work
