Repository dlang/dlang.org, pull requests merged in 2021-02, with the labels that each got.

#2841 fix Issue 5713 - Broken final switch on ints
  spec/statement.dd
Labels: Bug Fix

#2916 improve Parameter Storage Classes section
  spec/function.dd
Labels: Spec / content, auto-merge

#2904 fix Compile Time Function Execution section
  spec/function.dd
Labels: Spec / content, auto-merge

#2780 document Alias Template Declarations
  spec/declaration.dd
Labels: Spec / content, auto-merge

#2941 Revert "document Alias Template Declarations"
  spec/declaration.dd
Labels: Spec / content, auto-merge

#2942 Improve pragma inline section
  spec/pragma.dd
Labels: Improve, Spec / content

#2943 Improve pragma lib and pragma linkerDirective
  spec/pragma.dd
Labels: Improve, Spec / content, auto-merge

#2947 improve contracts introduction
  spec/contracts.dd
Labels: Improve, Spec / content, auto-merge

#2948 contracts.dd: remove outdated assert() section
  spec/contracts.dd
Labels: Improve, Spec / content, auto-merge

#2940 rewrite pragma(crt_constructor) section
  spec/pragma.dd
Labels: Improve, Spec / content, auto-merge

#2950 move function contracts from contracts.dd to function.dd
  spec/contracts.dd
  spec/function.dd
Labels: Easy Review, Spec / content

#2949 contracts.dd: remove redundant Invariants section text
  spec/contracts.dd
Labels: Improve, Spec / content

#2944 improve pragma mangle and pragma msg
  spec/pragma.dd
Labels: Improve, Spec / content

#2953 Update DIP links
  .htaccess
Labels: auto-merge

#2954 We use & support D since 2016 in our software and in SDK
  images/orgs-using-d/pelock.png
  images/orgs-using-d/pelock_hq.png
  orgs-using-d.dd
Labels: auto-merge

#2955 merge stable
  VERSION
  changelog/2.095.1.dd
  download.dd
Labels: auto-merge

#2951 rewrite pragma(crt_destructor) section
  spec/pragma.dd
Labels: Improve, Spec / content, auto-merge

#2956 Add -preview=shortenedMethods to language spec
  spec/function.dd
Labels: auto-merge

#2957 merge stable
  changelog/2.096.0_pre.dd
  download.dd
Labels: auto-merge
