Repository dlang/dlang.org, pull requests merged in 2021-08, with the labels that each got.

#3080 fix Issue 3345: Static and nonstatic methods with the same name shoul…
  spec/function.dd
Labels: Bug Fix, Spec / content

#3075 minor edits to #3703
  spec/statement.dd
Labels: Spec / content, auto-merge, Easy Review

#3085 ImportC: document __attribute((noreturn))
  spec/importc.dd
Labels: Spec / content, auto-merge

#3086 merge stable
  VERSION
  changelog/2.097.2.dd
  download.dd
Labels: auto-merge

#3084 ImportC: all about __IMPORTC__ predefined macro
  spec/importc.dd
Labels: Spec / content

#3089 ImportC: _Generic
  spec/importc.dd
Labels: Spec / content

#3088 specify two's complement math and IEEE-754
  spec/intro.dd
Labels: Spec / content, Easy Review

#3090 Fix Issue 22229 - Struct initialization via constructor missing from …
  spec/struct.dd
Labels: auto-merge, Bug Fix

#3091 Update grammar for issue 22227
  spec/statement.dd
Labels: auto-merge

#3092 merge stable
  changelog/2.098.0_pre.dd
  download.dd
Labels: auto-merge

#3067 ImportC: add section on enums
  spec/importc.dd
Labels: Spec / content
