Repository dlang/dlang.org, pull requests merged in 2023-04, with the labels that each got.

#3574 update download and changelog for v2.103.0
  VERSION
  changelog/2.103.0.dd
  download.dd
Labels: auto-merge

#3573 SwitchStatement: Improve docs
  spec/statement.dd
Labels: auto-merge

#3579 fix Issue 23691 - compilable/test22294.i:16:1: control Z interpreted …
  spec/importc.dd
Labels: Spec / content, Bug Fix, Easy Review

#3577 make AA "Not yet Implemented" note better
  spec/hash-map.dd
Labels: auto-merge

#3581 fix Issue 23699 - ImportC: Unclear documentation that struct/union/en…
  spec/importc.dd
Labels: Spec / content, Bug Fix, Easy Review

#3583 document __builtins.d
  spec/importc.dd
Labels: Spec / content, Easy Review

#3582 add reference to importc.h source file
  spec/importc.dd
Labels: Spec / content, Easy Review

#3580 fix Issue 23698 - ImportC: __stdcall is not documented as supported M…
  spec/importc.dd
Labels: Spec / content, Bug Fix, Easy Review

#3584 update download and changelog for v2.103.1-beta.1
  changelog/2.103.1_pre.dd
  download.dd
Labels: auto-merge, stable -> master

#3585 Update traits.dd
  spec/traits.dd
Labels: auto-merge

#3588 clarify what isIntegral, isScalar, etc. __traits mean
  spec/traits.dd
Labels: Spec / content, Improve

#3522 rearrange Visibility Attributes, add lnames
  spec/attribute.dd
Labels: Spec / content, Easy Review

#3590 with statement now does enum expressions
  spec/statement.dd
Labels: Spec / content, auto-merge, Easy Review

#3592 [trivial] Tweak 2 implementation notes' formatting
  spec/arrays.dd
  spec/attribute.dd
Labels: Trivial, auto-merge

#3591 [spec/statement] Move note about case frequency up
  spec/statement.dd
Labels: Spec / content, auto-merge

#3593 ImportC: document __declspec and __attribute__ extensions
  spec/importc.dd
Labels: Spec / content, auto-merge, Easy Review
