Repository dlang/dlang.org, pull requests merged in 2023-12, with the labels that each got.

#3738 [spec/class] Update synchronized method docs
  spec/class.dd
Labels: Spec / content, auto-merge

#3742 Correct a grammatical error in spec/function.dd
  spec/function.dd
Labels: auto-merge

#3743 Avoid deprecated compiler Makefiles
  posix.mak
Labels: auto-merge

#3740 [spec] Explain template instance and template argument grammar
  spec/template.dd
Labels: Spec / content, auto-merge

#3744 Document named arguments
  spec/expression.dd
  spec/function.dd
  spec/struct.dd
Labels: auto-merge, Bug Fix

#3746 [spec] Tweak named arguments docs
  spec/expression.dd
  spec/function.dd
  spec/struct.dd
Labels: Spec / content, auto-merge

#3748 document ImportC to D source translation
  spec/importc.dd
Labels: Spec / content, auto-merge, Easy Review

#3751 fix Issue 24294 - ImportC: unrecognized command line option -Wno-buil…
  spec/importc.dd
Labels: Enhancement, Spec / content
