Repository dlang/dlang.org, pull requests merged in 2024-12, with the labels that each got.

#4151 add RvalueExpressions
  spec/expression.dd
  spec/lex.dd
Labels: Spec / content

#4152 Add __traits(hasMoveConstructor, type)
  spec/traits.dd
Labels: Enhancement, Spec / content

#4157 [spec/attribute] 3 Tweaks
  spec/attribute.dd
Labels: auto-merge
